h1{
    color:red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
    background-color: rgb(250, 177, 177);
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
}
h2{
    color:red;
    font-family: cursive;
    font-size: 25pt;
}
 .myinfo{
    color:rebeccapurple;
    font-family: cursive;
    font-size: 20pt;
}

.u-center { 
    text-align: center;
}  

.center-box { 
    display: flex;
    justify-content: center;
}

img { 
    border-radius: 50px;
}