img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.image-box{
    display: flex;
    justify-content: center;
}
.center{
    text-align: center;
    font-family: cursive;
}
.space{
   display:flex;
   justify-content: space-between;
}

.sfondo{
    background-color: rgb(177, 250, 234);
    border-radius: 30px;
}